[flake8]
max-line-length = 120
ignore =
  #allow multi on same line
  E701,
  F401,F821,
  # default ignored
  W503,W504,W505,
  # allow short vars
  E741
  # unused vars are needed for safety
  F841
